html, body {
  -webkit-tap-highlight-color: transparent; /* 避免触屏下的点击高亮颜色 */
}

/* 主页下方的页脚透明度 */
.VPFooter {
  opacity: 0.8;
}

.VPSocialLinks.VPNavBarSocialLinks.social-links {
  margin-right: 0;
}

.vp-doc a {
  text-decoration: none;
  transition: all 0.3s ease;
}

.vp-doc a:hover {
  text-decoration: underline;
}

/* 脚注 */
.footnotes > .footnotes-list {
  margin-top: 32px;
  opacity: 0.9;
  font-size: 12px;
  /* 确保脚注上的返回链接符号 ↩ 不会被 body 的 Emoji 字体覆盖渲染为 ↩️ */
  font-family: sans-serif;
}

.footnotes > .footnotes-list > .footnote-item > p {
  line-height: 18px;
}

@media (max-width: 640px) {
  .VPBadge {
    font-size: 8px;
    padding: 0px 6px;
  }
}

@media (max-width: 960px) {
  .VPBadge {
    font-size: 10px;
    padding: 0px 8px;
  }
}
