html, body {
  -webkit-tap-highlight-color: transparent; /* 避免触屏下的点击高亮颜色 */
}

/* 主页下方的页脚透明度 */
.VPFooter {
  opacity: 0.8;
}

.VPSocialLinks.VPNavBarSocialLinks.social-links {
  margin-right: 0;
}

.vp-doc a {
  text-decoration: none;
  transition: all 0.3s ease;
}

.vp-doc a:hover {
  text-decoration: underline;
}

/* 脚注 */
.footnotes > .footnotes-list {
  margin-top: 32px;
  opacity: 0.9;
  font-size: 12px;
  /* 确保脚注上的返回链接符号 ↩ 不会被 body 的 Emoji 字体覆盖渲染为 ↩️ */
  font-family: sans-serif;
}

.footnotes > .footnotes-list > .footnote-item > p {
  line-height: 18px;
}

@media (max-width: 640px) {
  .VPBadge {
    font-size: 8px;
    padding: 0px 6px;
  }
}

@media (max-width: 960px) {
  .VPBadge {
    font-size: 10px;
    padding: 0px 8px;
  }
}

/**
  Discord 链接按钮样式
*/

.VPHero.VPHomeHero .actions a[href="https://discord.gg/XuNFDcDZGj"] {
  color: #6972d4;
  border: 2px #6972d4 solid;
  background-color: transparent;
}

.VPHero.VPHomeHero .actions a[href="https://discord.gg/XuNFDcDZGj"]:hover {
  color: white;
  background-color: #6975f2;
}

.VPHero.VPHomeHero .actions a[href="https://discord.gg/XuNFDcDZGj"]:active {
  color: white;
  background-color: #404eed;
}

/**
  暗色模式下 Discord 链接按钮样式
*/

.dark .VPHero.VPHomeHero .actions a[href="https://discord.gg/XuNFDcDZGj"] {
  color: #898fcf;
  border: 2px #898fcf solid;
  background-color: transparent;
}

.dark .VPHero.VPHomeHero .actions a[href="https://discord.gg/XuNFDcDZGj"]:hover {
  color: white;
  background-color: #404eed;
}

.dark .VPHero.VPHomeHero .actions a[href="https://discord.gg/XuNFDcDZGj"]:active {
  color: white;
  background-color: #444c9e;
}

/**
  GitHub 链接按钮样式
*/

.VPHero.VPHomeHero .actions a[href="https://github.com/nolebase/integrations"] {
  color: #616161;
  border: 2px #616161 solid;
  background-color: transparent;
}

.VPHero.VPHomeHero .actions a[href="https://github.com/nolebase/integrations"]:hover {
  color: white;
  background-color: #4b4b4b;
}

.VPHero.VPHomeHero .actions a[href="https://github.com/nolebase/integrations"]:active {
  color: white;
  background-color: #000;
}

/**
  暗色模式下 GitHub 链接按钮样式
*/

.dark .VPHero.VPHomeHero .actions a[href="https://github.com/nolebase/integrations"] {
  color: #a4a4a4;
  border: 2px #a4a4a4 solid;
  background-color: transparent
}

.dark .VPHero.VPHomeHero .actions a[href="https://github.com/nolebase/integrations"]:hover {
  color: white;
  background-color: #252525;
}

.dark .VPHero.VPHomeHero .actions a[href="https://github.com/nolebase/integrations"]:active {
  color: white;
  background-color: #4b4b4b;
}
