html, body {
  -webkit-tap-highlight-color: transparent; /* 避免触屏下的点击高亮颜色 */
}

/* 主页下方的页脚透明度 */
.VPFooter {
  opacity: 0.8;
}

.VPSocialLinks.VPNavBarSocialLinks.social-links {
  margin-right: 0;
}

.vp-doc a {
  text-decoration: none;
  transition: all 0.3s ease;
}

.vp-doc a:hover {
  text-decoration: underline;
}
