.Trash/
.trash/
.DS_Store
**/.obsidian/

.idea
.nuxt
.temp
.vite-inspect
*.local
*.log
components.d.ts
dist
node_modules
.eslintcache
**/.vitepress/docsMetadata.json
**/.vitepress/cache/

**/.netlify/*
**/.netlify/functions-serve/*

.npmrc

coverage/
