name: Build Previewing Docs

on:
  pull_request:
    branches:
      - main

env:
  STORE_PATH: ''

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    name: Build - ${{ matrix.os }}

    runs-on: ${{ matrix.os }}
    steps:
      # This is quite weird.
      # Eventhough this is the *intended* solution introduces in official blog post here
      # https://securitylab.github.com/research/github-actions-preventing-pwn-requests/.
      # But still, as https://github.com/orgs/community/discussions/25220#discussioncomment-7856118 stated,
      # this is vulnerable since there is no source of truth about which PR in the triggered workflow.
      - name: Presist PR number
        run: |
          echo "${{ github.event.number }}" > pr_num

      - name: Upload PR artifact
        uses: actions/upload-artifact@v2
        with:
          name: pr-num
          path: ./pr_num

      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Node.js 20.x
        uses: actions/setup-node@v3
        with:
          node-version: 20.x

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          run_install: false
          version: 8

      - name: Obtain pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - name: Obtain pnpm store cache
        uses: actions/cache@v3
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build docs
        run: |
          pnpm packages:build
          pnpm docs:build

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: docs-${{ matrix.os }}-build
          path: docs/.vitepress/dist

  publish:
    name: Push Previewing Docs to Netlify
    runs-on: ubuntu-latest
    steps:
      - name: Wait for deployment
        uses: lewagon/wait-on-check-action@v1.3.1
        with:
          ref: ${{ github.ref }}
          check-name: 'Push Previewing Docs to Netlify'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 5
          allowed-conclusions: success
